@import "tailwindcss";

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  --color-slate-50: #f8fafc;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-900: #0f172a;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-300);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-slate-400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Outfit', sans-serif;
  letter-spacing: -0.025em;
  color: var(--color-slate-900);
}

@layer utilities {
  .animate-enter {
    animation: enter 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    opacity: 0;
    transform: translateY(12px);
  }

  .delay-100 {
    animation-delay: 100ms;
  }

  .delay-200 {
    animation-delay: 200ms;
  }

  .delay-300 {
    animation-delay: 300ms;
  }

  .delay-500 {
    animation-delay: 500ms;
  }

  @keyframes enter {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}